#AboutMe {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.AboutMe_header
{
    display: grid;
    grid-template-columns: 50% 50%;
}
.AboutMe_header_info_center
{
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}
.AboutMe_header_info_text{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20vw;
    text-align: left !important;
    line-height: 1.6;
}
.AboutMe_header_info_links{
    margin-top: 10px;
}

.fi{
    font-size: 2em;
    margin-right: 20px;
}

#Portfolio {
    position: relative;
}

#PorfolioIMG {
    width:  30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}

.noLine{
    text-decoration: none;
}